*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: linear-gradient(90deg, rgb(120, 138, 218) 0%, #d4b7e6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    border: none;
    outline: none;
    background: rgb(161, 226, 238);
    color: black;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 5px 5px opx rgb(120, 149, 245);
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    transition: .5s;

    &.active{
        transform: translate(5%, 5%);
        box-shadow: 2px 0px 3px rgb(161, 185, 238);
    }
}

.notification{
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    position: relative;
    color: transparent;

    &::after{
        min-width: 40px;
        min-height: 40px;
        content: attr(data-count);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 162, 233);
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: 7px;
        transition: 0.3s;
        opacity: 0;
        transform: scale(0.5);
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &::before{
        content: '\f0f3';
        font-family: 'Font Awesome 5 Free';
        font-size: 70px;
        display: block;
        color: rgb(93, 69, 230);
    }
    &.count::after{
        opacity: 1;
        transform: scale(1);
    }
    &.notify::before{
        animation: belltiling 1s ease-in-out;
    }
}

@keyframes belltiling{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}